@use "../setup/variables" as *;

.contact-page {
    background-color: #121212;
    height: 100vh;

    .contact-container {
        width: 1200px;
        margin: auto;
        grid-column-gap: 2.5rem;
        grid-row-gap: 2rem;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;

        @media (max-width: $card-breakpoint) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            width: 90vw;
        }

        .form-container {
            grid-row: 2;
            width: 500px;
            height: auto;
            margin: auto;


            @media (max-width: 550px) {

                width: 90vw;
            }

            .contact-form {
                background-color: #0f0f0f;
                padding: 4rem;

                @media (max-width: $card-breakpoint) {

                    margin-bottom: 3.5rem;
                }

                @media (max-width: 550px) {
                    padding: 2.5rem;
                    // margin-bottom: 3.5rem;

                }

                .get-in-touch-txt {
                    background: $main-gradient;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .bg-circle-color-1 {
                    background-color: #85b4ff;
                }

                .bg-circle-color-2 {
                    background-color: #4169E1;
                }
            }
        }



        .contact-txt-container {
            grid-row: 2;
            // text-align: center;
            margin-top: -.4rem;

            @media (max-width: $card-breakpoint) {
                grid-row: 1;
                text-align: center;
            }

            .contact-txt {
                color: $mask-color-txt;
                font-size: clamp(2rem, 9vw, 3.5rem); // font-size: 3rem;
                line-height: 3.5rem;
                font-weight: bold;

                text-shadow: 0px 0px 10px rgba(143, 161, 175, 0.1);

            }


            .contact-subtext {
                font-size: 1.45rem;
                color: $mask-color-txt;
                margin-top: .6rem;

                a {
                    span {
                        color: $hover-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.send-mgg-btn {
    background: $main-gradient;

    &:hover {
        background: linear-gradient(45deg, #3556b9, #6d94d2);
    }
}


.contact-input-bg {
    background-color: $mask-color-txt !important;
    background-color: #1c2c4b !important;
}