.veloscroll-container {
    background-color: rgb(10, 10, 10);
    // height: 100%;

    .veloscroll {
        padding-top: 2.5rem;
        color: white;
    }

    .about-icon-container {
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;

        .icon-container {
            grid-column: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: white;
                font-size: 10rem;
            }
        }
    }
}