$card-breakpoint: 1280px;
$normal-breakpoint: 960px;
$mobile-breakpoint: 768px;
$small-card-breakpoint: 450px;

$primary-color: rgb(83, 172, 219);
$secondary-color: rgb(139, 140, 192);
$third-color: rgb(83, 129, 219);
$text-btn-primary-color: #FF432B;
$text-btn-secondary-color: #FF8400;
$mask-color-txt: #afa18f;
// $text-btn-middle-color: #bd945a;
$text-btn-middle-color: #FF6A12;
// $main-gradient: linear-gradient(45deg, #98979d, #e0b06d);
// $main-gradient: linear-gradient(45deg, #9d9798, #6DB0E0);
$main-gradient: linear-gradient(45deg, #FF432B, #FF8400);
// $main-gradient: linear-gradient(45deg, #007bff, #00bcd4);
// $hover-color: #BED4E3;
$hover-color: #ec5d39;
// $hover-color: #ec4e39;
// $hover-color: #FF8400;

// $primary-color: rgb(219, 101, 83);
// $secondary-color: rgb(219, 148, 83);
// $third-color: rgb(219, 124, 83);

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --third-color: #{$third-color};
}