$card-breakpoint: 1280px;
$normal-breakpoint: 960px;
$mobile-breakpoint: 768px;
$small-card-breakpoint: 450px;

$primary-color: rgb(83, 172, 219);
$secondary-color: rgb(139, 140, 192);
$third-color: rgb(83, 129, 219);
$text-btn-primary-color: #336ecd;

$mask-color-txt: #9db1c0;
$text-btn-middle-color: #19458d;
// $main-gradient: linear-gradient(45deg, #007bff, #00bcd4);
$main-gradient: linear-gradient(45deg, #4169E1, #85b4ff);
// $hover-color: #BED4E3;
$hover-color: #85b4ff;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --third-color: #{$third-color};
}