$card-breakpoint: 1280px;
$small-card-breakpoint: 450px;
$mobile-breakpoint: 768px;

$primary-color: rgb(83, 172, 219);
$secondary-color: rgb(139, 140, 192);
$third-color: rgb(83, 129, 219);
$text-btn-primary-color: #FF432B;
$text-btn-secondary-color: #FF8400;
$text-btn-middle-color: #FF6A12;

// $primary-color: rgb(219, 101, 83);
// $secondary-color: rgb(219, 148, 83);
// $third-color: rgb(219, 124, 83);

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --third-color: #{$third-color};
}